<p>
  demo-components-main works!
</p>

<!--<my-tabs>
  <my-tab tabTitle="tab1">
    Tab 1 content
  </my-tab>
  <my-tab tabTitle="tab2">
    Tab 2 content
  </my-tab>
</my-tabs>

<my-alert type="success">
  message
</my-alert>

<my-progress-bar [value]="25" [showValue]="true" [striped]="true" [animated]="true"></my-progress-bar>

<div myHighlight highlightColor="pink">Content</div>

<holder></holder>

<div *myUnless="false">Content</div>
<div *myUnless="true">Content</div>

<demo-popup></demo-popup>-->
<!--
<button #hostButton class="btn">A button</button>

<div #toptipWin class="tooltip show">
  <div class="tooltip-inner">
    Content in tooltip!
  </div>
</div>

<tooltip-window>Contents in targs.</tooltip-window>-->

<!--<button myTooltip="Tooltip content.">Button</button>

<button [myTooltip]="tooltipTemplate" placement="right">Button</button>
<ng-template #tooltipTemplate>
  Contents in a template!
</ng-template>-->


<!--<button [myTooltip]="tooltipTemplate" #t="myTooltip">Button</button>
<ng-template #tooltipTemplate let-name="name">
  Contents in a template - {{name}} !
</ng-template>

<button type="button" class="btn btn-secondary" (click)="t.open({ name: 'Bonjour' })">
  French
</button>
<button type="button" class="btn btn-secondary" (click)="t.open({ name: 'Gutentag' })">
  German
</button>


<button myTooltip="Content" triggers="click:blur">Button</button>

<button myPopover="Contents" popoverTitle="Title" placement="right" triggers="hover">Button</button>

-->

<!--<hero-detail></hero-detail>-->

<!--<div [myCollaspe]>Shown Content</div>
<div [myCollaspe]="true">Content</div>-->

<!--<search-input i18n-placeholder placeholder="Please enter keywords."></search-input>-->

<!--<ip-input #ipv4></ip-input>
<ip-input #ipv6 mode="ipv6"></ip-input>

<button class='btn' (click)='refresh()'>Refresh</button>

{{ ipv4 | json }}

{{ ipv6 | json }}-->

<my-pagination size="sm" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [directionLinks]="true" [collectionSize]="500"></my-pagination>
